ENCRYPTION_KEY_V1=pretty_cool_key
CLERK_SIGN_IN_URL=/sign-in
CLERK_SIGN_UP_URL=/sign-up
CLERK_AFTER_SIGN_IN_URL=/dashboard/surveys
CLERK_AFTER_SIGN_UP_URL=/dashboard/surveys
CRON_SECRET=change-this-to-a-long-random-string
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=cool_test_key
CLERK_SECRET_KEY=awesome_secret_key